@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');

/* --- 全局和基础样式 --- */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* 使用 min-height 保证内容撑满 */
  background-color: #0f0f0f;
  width: 100vw;
  overflow-x: hidden;

  /* 页面黑色背景 */
}

h1 {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 80px;
  color: #227418;
  /* 可选 */
  /* font-variation-settings 可以省略 */
}

h3 {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 28px;
  color: #FFFFFF;

}

p,
li {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
}


/*这里是navbar*/
.navbar {
  background-color: #0F0F0F;
  z-index: 999;
  padding-right: 0px !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.offcanvas-custom {
  background-color: #0F0F0F;
  width: 150px !important;
}

.offcanvas-title-custom {
  color: #ffffff;
}

.offcanvas .btn-close {
  filter: invert(1) !important;
}

.navbar-nav-custom {
  margin-right: 42px;

}

.nav-item,
.button_custom {
  padding: 0px !important;
  margin: 0px 0px 0px 20px;
}

.button_custom {
  border: none;
  border-radius: 100px;
  background: none;
  color: #FFFFFF;

}

.navbar-nav-custom .nav-item .nav-link:hover,
.navbar-nav-custom .nav-item .nav-link:focus,
.navbar-nav-custom .nav-item .nav-link:active {
  color: #FFFFFF !important;

}

.nav-link-custom {
  width: 89px;
  height: 36px;
  width: 89px;
  height: 36px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

}

.offcanvas-body-custom {
  justify-content: end;
}

.button_custom:hover .nav-link,
.button_custom:focus .nav-link,
.button_custom:active .nav-link {
  border: none;
  border-radius: 100px;
  background: linear-gradient(to bottom, #ffffff 0%, #202020 100%);
  box-shadow:
    inset 0px 3px 1.6px #ffffff,
    inset -1px 0px 2.4px #ffffff,
    inset -2px 0px 4px #4D4D4D,
    inset 2px 0px 3.1px #4D4D4D,
    inset 0px -2px 3px #ffffff,
    inset 0px -3px 3.2px #BDBDBD;

}

.container-fluid-custom {
  padding: 0px;
  justify-content: space-evenly !important;

}

.custom {
  padding-left: 30px;
}

.navbar-nav-custom {
  padding: 0px 0px 0px 60px;
}





/*footer*/

/*footer*/
.footer {
  background-color: #0F0F0F;
  color: #fff;
  padding: 30px 54px 55px 147px;
}

.footer_logo {
  padding-bottom: 42px;
}

.footer-row {
  width: 100%;
}

.footer_icon .col-auto {
  margin: 0 0px;
  padding-bottom: 57px;

}

.footer_icon {
  padding-left: 80px;
}

.footer a {
  text-decoration: none;
}

.footer a:hover p {
  text-decoration: none;
  color: #5DD62C;

}

.footer_link a {
  display: block;
  width: fit-content;

}

.footer_link a p {
  display: inline-block;
  margin: 0px;
}

.footer_link a {
  margin-bottom: 25px;
  color: #fff;
  /* 设置你想要的文字颜色 */
  text-decoration: none;
  /* 去掉默认下划线 */
}

.footer_link a:last-child {
  margin-bottom: 0;
}

.footer_copyright p {
  margin: 0 !important;
}

.footer_contact p {
  margin-bottom: 25px;
}

.footer_contact p:last-child {
  margin-bottom: 0;
}

.footer {
  border-top: 1px solid #ffffff;
  /* 白色线，可改成你想要的颜色 */
  padding-top: 40px;
  /* footer 内容距离线的间距 */
  padding-bottom: 40px;
}





.blog-title {
  padding-top: 88px;
  margin-bottom: 30px;
}

.section6 .wrapper {
  position: relative;
  overflow: hidden;

}

.section6 .text-wrapper {
  position: absolute;
  top: 100%;
  transition-duration: 1s;
}

.section6 .wrapper:hover .text-wrapper {
  top: 70%;
}

.section6 .wrapper:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  top: 100%;

}

.section6 .wrapper:hover:before {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;

}

.section6 {
  padding-bottom: 130px;
}

.bg_blog{
    position: relative;    
    background-image: url(img/Hifi-Blog.png);
    background-size: cover;
    background-color: #0F0F0F;
    background-position: center center;
    background-repeat: no-repeat;
   
    z-index: 1;

}



.m-60{
  margin-bottom: 60px;
}






  @media screen and (max-width : 768px) {
  .button_custom:hover .nav-link,
  .button_custom:focus .nav-link,
  .button_custom:active .nav-link {
    border: none;
    border-radius: 100px;
    background: none;
    box-shadow: none;

  }

  .offcanvas-body-custom {
    justify-content: end;
  }

  .nav-link-custom {

    justify-content: start !important;

  }

  .navbar-nav-custom {
    padding: 0px;
  }

  .navbar-nav-custom {
    margin-right: 0px;

  }

  .offcanvas-body .navbar-nav-custom {
    justify-content: flex-start !important;
    padding-left: 0 !important;
  }

  .offcanvas-body .navbar-nav-custom .button_custom {
    margin-left: 0 !important;
  }


  .footer {
    padding: 40px 20px;
    text-align: center;
  }

  .footer .row {
    justify-content: center;
  }

  .footer_logo img {
    margin: 0 auto;
    display: block;
  }

  .footer_icon {
    padding-left: 0;
    justify-content: center;
  }

  .footer_icon .row {
    justify-content: center;
  }

  .footer_link {
    display: flex;
    flex-direction: column;
    align-items: start;

    padding-left: 10%;
  }

  .footer_link a {
    margin-bottom: 25px;
  }

  .footer_contact {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .footer_logo {
    padding-bottom: 42px;
  }

}

@media screen and (max-width : 575px) {
h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
  }

  .footer_contact {
    padding-top: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_icon .col-auto {
    margin: 0 0px;
    padding-bottom: 10%;
  }

  .footer_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3%;
    padding-top: 3%;
  }


  .nav-link-custom {
    justify-content: start !important;

  }

  .logo_footer{
    width: 40vw;
    height: 10vw;
  }
}